<#@ include file="SaveOutput.tt" #>
<#
    GenerateFile1();
    SaveOutput("File1-1.txt");  

    GenerateFile2();
    SaveOutput("File1-2.txt");
#>
<#+
    void GenerateFile1()
    {
#>
This is file 1
<#+
    }  

    void GenerateFile2()
    {
#>
This is file 2
<#+
    }
#>